---
type Props = {
  small?: boolean;
};

const { small } = Astro.props;
---

<div style={small ? "font-size: 0.875rem" : ""}>
  <p>
    I'm an experienced senior software engineer, with over 15 years of experience encompassing 
    full-stack development, devops, and technical leadership. I have a proven track record of 
    architecting scalable systems within high-growth startups and established enterprises.
    I'm passionate about elevating team capabilties by fostering cross-team partnerships,
    mentoring junior engineers, and advocating for best practices in software development.
  </p>
  <p>Currently based in Victoria, BC.</p>
</div>
