---
interface LogoProps {
  title?: string;
}

const { title = 'mike rice' } = Astro.props as LogoProps;
---

<div class="flex items-center gap-2">
  <div
    class="flex h-8 w-10 items-center justify-center rounded bg-gray-800 [background-image:radial-gradient(#ffffff40_1px,transparent_1px)] [background-size:4px_4px]"
  >
    <span class="font-mono text-xl text-white">MR</span>
  </div>
  <span class="font-mono text-xl">{title}</span>
</div>
